---
whiskers:
  version: ^2.5.1
  matrix:
    - flavor
  filename: 'themes/evergarden-{{flavor.identifier}}'
  hex_format: '#{{r}}{{g}}{{b}}'
---
*.default=true
*.normal=true

*.selected.bg={{surface0.hex}}
*.selected.fg={{text.hex}}
*.selected.bold=true

statusline_*.dim=true

*warning.dim=false
*warning.bold=true
*warning.fg={{yellow.hex}}

*success.dim=false
*success.bold=true
*success.fg={{green.hex}}

*error.dim=false
*error.bold=true
*error.fg={{red.hex}}

border.fg={{crust.hex}}
border.bold=true

tab.fg={{overlay0.hex}}
tab.bg={{mantle.hex}}
tab.selected.fg={{text.hex}}
tab.selected.bg={{base.hex}}
tab.selected.bold=true

statusline_default.fg={{subtext0.hex}}
statusline_default.bg={{mantle.hex}}
statusline_error.bold=true
statusline_success.bold=true

title.bg={{surface0.hex}}
title.fg={{text.hex}}
title.bold=true

header.fg={{subtext0.hex}}
header.bold=true

msglist_unread.bold=true
msglist_marked.bg={{surface1.hex}}
msglist_marked.fg={{text.hex}}
msglist_pill.bg={{overlay0.hex}}
msglist_pill.fg={{text.hex}}

part_mimetype.fg={{subtext0.hex}}

selector_chooser.bold=true
selector_focused.bold=true
selector_focused.bg={{surface1.hex}}
selector_focused.fg={{text.hex}}

completion_*.bg={{surface0.hex}}
completion_pill.bg={{overlay0.hex}}
completion_default.fg={{text.hex}}
completion_description.fg={{overlay0.hex}}

[viewer]
url.underline=true
url.fg={{green.hex}}

header.bold=true
header.fg={{subtext0.hex}}

signature.fg={{subtext0.hex}}

diff_meta.bold=true
diff_chunk.fg={{subtext0.hex}}
diff_chunk_func.fg={{subtext0.hex}}
diff_add.fg={{green.hex}}
diff_del.fg={{red.hex}}

quote_1.fg={{subtext1.hex}}
quote_2.fg={{subtext0.hex}}
quote_3.fg={{overlay2.hex}}
quote_4.fg={{overlay1.hex}}
quote_x.fg={{overlay0.hex}}
